@import "@/assets/styles/pages/node_edit.scss";


.text-section { display: flex; flex-direction: column; gap: .5rem; }
.upper-paragrah { font-size: 1.3rem; font-weight: 600; }
.lower-paragraph { font-size: .9rem; opacity: .75; }
