.upper-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.6rem 1.125rem !important;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100dvh - var(--header-height));
  box-sizing: border-box;
  padding: 0rem 0rem 3.5rem 0rem;

  .upper-paragrah {
    @include paragraph-h1;
    color: var(--full-white);
    margin: 0rem 0rem 1rem 0rem !important;
    b {
      color: var(--main-blue);
    }
  }

  .lower-paragraph {
    @include paragraph-medium-light;
    color: var(--full-white);
    text-align: center;
  }
}
.card-wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
}

.box:nth-child(3) {
  grid-column: span 2;
}
