:root {
    --full-white: #FFF;
    --fill-white: #FDFDFD;
    --fill-gray: #F2F2F2;
    --border-gray: #D6D6D6;
    --strong-gray: #303745;
    --main-red: #D33124;
    --main-blue: #4285F4;
    --main-yellow: #FFEF3D;
    --warning-yellow: #EDD202;
}